header h1 {
  padding-left: 0.8em;
  font-size: 8vw;
  margin-bottom: 0;
}

@media (max-width: 40em) {
  header h1 {
    padding: 2em 0 0 0.5em;
    font-size: 8vw;
    margin: 0;
  }
}


form {
  border-radius: 1em;
  padding: 0 22em;
}

@media (max-width: 40em) {
 form {
  padding: 1em;
  }
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    resize: vertical; 
    display: flex;
    flex-direction: column;
  }

  div {
    display: flex;
  }

  input[type=text] {
    /* padding: 12px 20px; */
  }
  
  input[type=submit] {
    background-color: #C9EE8F;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 1em;
  }
  
  textarea {
    padding-bottom: 2em;
  }

  input[type=submit]:hover {
    background-color: rgba(51,61,36,255);
  }

  label {
    display: block;
    padding: 1.2em 0 0.3em 0; 
}


footer {
  padding-top: 10em;
}


header h1 {
    opacity: 0; 
    transform: translateY(50px); 
    transition: opacity 1s ease, transform 1s ease; 
}

header h1.in-view{
    opacity: 1; 
    transform: translateY(0); 
}