header img {
    width: 33em;
    top: 5rem;
}

@media (max-width: 40em) {
    header img {
        width: 22em;
        padding-left: 4em;
        top:2em;
    }
    header h1 {
        padding: 2rem 2em 0 0.6em;
    }
}

h2 {
    padding-top: 1em;
}

section:nth-of-type(2) li:nth-of-type(2) {
    padding-top: 6em;
}

section:nth-of-type(2) li:first-of-type div {
    padding: 5em 40em 6em 3em;
}

section:nth-of-type(2) li:nth-of-type(2) img {
    border-radius: 0.5em;
    width: 36em;
    right: 10em;
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:nth-of-type(2) img {
        width: 31em;
        
    }

    section:nth-of-type(2) li:nth-of-type(1) div {
padding: 0em 0em 0 0em;
    }

section:nth-of-type(2) p:first-of-type {
padding:0em 3em 3em 2em;
}

section:nth-of-type(2) h3:first-of-type {
    padding:1em 2em 0 0.5em;
    }
}

section:nth-of-type(2) li:nth-of-type(2) div {
    padding: 0em 10em 0 3em;
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:nth-of-type(2) div {
        padding: 1em 2em 3em 0;
    }
    section:nth-of-type(2) li:nth-of-type(2) h3 {
        padding-top: 0em;
    }
}

section:nth-of-type(2) li:nth-of-type(4) video {
    border-radius: 0.8em;
    width: 10em;
}

section:nth-of-type(2) li:nth-of-type(4) img {
width: 11em;
height: 23em;
}

@media (max-width: 40em) {
        section:nth-of-type(2) li:nth-of-type(4) img, section:nth-of-type(2) li:nth-of-type(4) video {
            width: 8em;
            height: 15em;
        }
    }

section:nth-of-type(2) li:nth-of-type(4) div:last-of-type {
display: flex;
flex-direction: row;
gap:3em;
padding-left: 8em;
padding-right: 10em;
position: relative;
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:nth-of-type(4) div:last-of-type {
        gap:2em;
        padding-left: 2em;
    }

    section:nth-of-type(2) li:nth-of-type(4) div:last-of-type img:first-of-type {
        padding: 0em 1em 0 0;
        width: 12em;
            height: 15em;
    } 

    section:nth-of-type(2) li:nth-of-type(4) div:first-of-type {
        padding:0em 2em 3em 0em;
    }
}

