header div {
    grid-template-rows: 15em 15em;
}

header img {
    top: 8rem;
    left: 12rem;
}

@media (max-width: 40em) {
    header img {
       left: 4rem;
       top: 6rem;
    }
}

section:nth-of-type(2) li:first-of-type img {
    width: 28em;
    height: 18em;
    border-radius: 0.5em;
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:first-of-type img {
padding: 0;
    }
}

@media (max-width: 40em) {
section:nth-of-type(2) img:first-of-type {
    /* width: 31em; */
    padding: 1em 1.5em;
    /* order: 1; */
}
}

section:nth-of-type(2) li:first-of-type div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 2em 2em 3em;
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:first-of-type div:nth-of-type(2) {
        padding: 2em 0em 2em 1.5em;
    }
}

section:nth-of-type(2) li:first-of-type div {
padding: 5em 12em 0 3em;
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:first-of-type div {
        padding: 0em 2em 0 1.5em;
        }
}

section:nth-of-type(2) li:nth-of-type(2) img, section:nth-of-type(2) li:nth-of-type(4) img {
    border-radius: 0.5em;
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:nth-of-type(2) div {
    padding: 0em 2em 0 1.5em;
}
}


section:nth-of-type(2) li:nth-of-type(4) div {
    padding: 0 4em 0 3em;
}

@media (max-width: 40em) {
section:nth-of-type(2) li:nth-of-type(4) {
    padding: 5em 1em 0 1.5em;
}
section:nth-of-type(2) li:nth-of-type(4) div {
    padding: 1em 1.5em 2em 0em;
}
}

section:nth-of-type(2) li:nth-of-type(4) img {
width: 25em;
}

@media (max-width: 40em) {
    section:nth-of-type(2) li:nth-of-type(4) img {
        width: 28em;
        border-radius: 0.5em;
        padding: 0;
        left: 1.5em;
    }
}

section:nth-of-type(2) li:nth-of-type(4) img:nth-of-type(2) {
    width: 32em;
    height:30em;
    padding: 0 2em 0 4em;
    }

    @media (max-width: 40em) {
        section:nth-of-type(2) li:nth-of-type(4) img:nth-of-type(2) {
            width: 26em;
            height:28em;
            padding: 4em 2em 0 3em;
        }
    }